:root
{
    --cor-fundo: #050816;
    --cor-card: #111827;
    --cor-texto: white;
    --cor-destaque: #38bdf8;
    --cor-texto-secundario: #cdb5e1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Poppins', sans-serif;
    background: #050816;
    color: white;
}
header
{
    width: 100%;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(12px);
}
.logo
{
    font-size: 32px;
    font-weight: 700;
    color: #38bdf8;
}
nav a
{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s;
}
nav a:hover
{
    color: #38bdf8;
}
.hero
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?q=80&w=1800&auto=format&fit=crop");
    background-size:cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.hero-content
{
    max-width: 900px;
}
.tag
{
    background: #38bdf8;
    color: white;
    padding: 10px 22px;
    border-radius: 30px;
    font-size: 14px;
}
.hero h1
{
    font-size: 78px;
    margin-top: 30px;
    line-height: 1.1;
}
.hero p
{
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.9;
}
.hero-buttons
{
    margin-top: 40px;
}
.btn-primary,
.btn-secondary
{
    padding: 16px 32px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}
.btn-primary
{
    background: #38bdf8;
    color: white;
}
.btn-secondary
{
    background: transparent;
    border: 1px solid white;
    color: white;
}
.btn-primary:hover,
.btn-secondary:hover
{
    transform: translateY(-5px);
}
section
{
    padding: 120px 8%;
}
.mini-title
{
    color: #38bdf8;
    font-size: 14px;
    letter-spacing: 2px;
}
section h2
{
    font-size: 52px;
    margin-top: 15px;
    margin-bottom: 40px;
}
.sobre
{
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}
.sobre-texto p
{
    line-height: 2;
    margin-bottom: 25px;
    color: #cbd5e1;
}
.sobre-imagem
{
    flex: 1;
}
.sobre-imagem img
{
    width: 100%;
    border-radius: 25px;
}
.cards 
{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.card
{
    flex: 1;
    min-width: 250px;
    background: #111827;
    padding: 35px;
    border-radius: 25px;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.05);
}
.card:hover
{
    transform: translateY(-10px);
}
.card h3
{
    color: #38bdf8;
    margin-bottom: 20px;
}
.card p
{
    line-height: 1.9s;
    color: #cbd5e1;
}
.dashboard-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
    gap: 30px;
}
.dashboard-card
{
    background: #111827;
    padding: 45px;
    border-radius: 25px;
    text-align: center;
    transition: 0.3s;
}
.dashboard-card:hover
{
    transform: translateY(-10px);
}
.dashboard-card h3
{
    font-size: 55px;
    color: #38bdf8;
}
.dashboard-card p
{
    margin-top: 10px;
    color: #cbd5e1;
}
.galeria-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}
.galeria-card
{
    background: #111827;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.3s;
}
.galeria-card:hover
{
    transform: scale(1.03);
}
.galeria-card img
{
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.galeria-info
{
    padding: 25px;
}
.galeria-info h3
{
    color: #38bdf8;
    margin-bottom: 15px;
}
.galeria-info p
{
    color: #cbd5e1;
}
.quiz-box
{
    background: #111827;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
}
.quiz-buttons
{
    margin-top: 30px;
}
.quiz-buttons button
{
    padding: 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    color: white;
    cursor: pointer;
}
form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}
input, textarea
{
    padding: 18px;
    border: none;
    border-radius: 12px;
    background: #111827;
    color: white;
}
textarea
{
    height: 150px;
    resize: none;
}
form button
{
    padding: 18px;
    border: none;
    border-radius: 12px;
    background: #38bdf8;
    color: white;
    cursor: pointer;
}
footer
{
    text-align: center;
    padding: 40px;
    background: #020617;
}
.sustentabilidade,
.impactos,
.solucoes
{
    text-align: center;
}
.sustentabilidade p,
.impactos p,
.solucoes p
{
    max-width: 900px;
    margin: 0 auto;
    line-height: 2;
    color: #cbd5e1;
}
.sustentabilidade-grid,
.impactos-grid,
.solucoes-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
    gap: 30px;
    margin-top: 40px;
}
.sustentabilidade-card,
.impactos-card,
.solucoes-card
{
    background: #111827;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s;
}
.sustentabilidade-card:hover,
.impactos-card:hover,
.solucoes-card:hover
{
    transform: translateY(-8px);
}
.sustentabilidade-card h3,
.impactos-card h3,
.solucoes-card h3
{
    color: #38bdf8;
    margin-bottom: 15px;
}
@media(max-width:900px)
{
    header
    {
        flex-direction: column;
        gap: 20px;
    }

    nav
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1
    {
        font-size: 48px;
    }

    .sobre
    {
        flex-direction: column;
    }

    form
    {
        width: 100%;
    }

    #resultadoQuiz
    {
        margin-top: 25px;
        font-size: 20px;
        font-weight: 600;
    }
}
.voltar-topo
{
    display:block;
    margin-top:15px;
    color:#38bdf8;
    text-decoration:none;
}

.slideshow
{
    display:flex;
    justify-content:center;
}

.slideshow img
{
    width:80%;
    max-width:900px;
    height:500px;
    object-fit:cover;
    border-radius:25px;
}

.temas button
{
    margin:5px;
    padding:8px 12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.problema,
.impacto,
.futuro,
.ods,
.beneficios,
.objetivos
{
    text-align: center;
}
.problema p,
.impacto p,
.futuro p
{
    max-width: 900px;
    margin: auto;
    line-height: 2;
    color: #cbd5e1;
}
body
{
    background: var(--cor-fundo);
    color: var(--cor-texto);
}
.card,
.dashboard-card,
.quiz-box,
.galeria-card,
input,
textarea
{
    background: var(--cor-card);
}
.logo,
.mini-title,
.card h3,
.dashboard-card h3,
.galeria-info h3,
.voltar-topo
{
    color: var(--cor-destaque);
}
.publico,
.aplicacao
{
    text-align: center;
}
.publico p,
.aplicacao p
{
    max-width: 900px;
    margin: 0 auto 20px;
    line-height: 2;
    color: #cbd5e1;
}
html
{
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

